<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/mffWIKI/img/logo121.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/mffWIKI/css/PublicUtilities.css">
    <link rel="stylesheet" href="/mffWIKI/css/Change.css">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <title>變更資料</title>
</head>

<body>
    <nav class="NavBarMFF">
        <span class="NavBarMFFSpan"></span>
    </nav>

    <div class="ChangeDatas">
        <div>
            <p>帳號：</p>
            <h5 class="ChangeData"></h5>
        </div>
        <div>
            <p>變更真實姓名：</p>
            <input class="ChangeInput" type="text">
        </div>
        <div>
            <p>變更暱稱：</p>
            <input class="ChangeInput" type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <div>
            <p>變更電子信箱：</p>
            <input class="ChangeInput" type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <div>
            <p>舊密碼：</p>
            <input class="ChangeInput" type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <div>
            <p>新密碼：</p>
            <input class="ChangeInput" type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <div>
            <p>再次確認新密碼：</p>
            <input class="ChangeInput" type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <button onclick="ChangeDatas()">確認變更資料</button>
        <h6 class="AgreeWarningSign">*</h6>
    </div>

    <div class="FooterMFF">網 石__版 權 所 有__2021</div>
</body>
<script src="/mffWIKI/js/PublicUtilities.js"></script>
<script type='text/babel' src="/mffWIKI/js/ReactElement.js"></script>
<script type='text/babel' src="/mffWIKI/js/CreatNavMFF.js"></script>
<script src="/mffWIKI/js/Change.js"></script>
<script src="/mffWIKI/js/RecordLocation.js"></script>
</html>