<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/mffWIKI/img/logo121.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/mffWIKI/css/HeroList.css">
    <link rel="stylesheet" href="/mffWIKI/css/PublicUtilities.css">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <title>未 來 之 戰 資 料 庫</title>
</head>

<body>
    <nav class="NavBarMFF">
        <span class="NavBarMFFSpan"></span>
    </nav>

    <div class="Herolist">
        <span class="TypeSelectSpan">
            <span class="typeSelect">
                <span class='HeroLsitOption'>
                    <p>性別</p>
                    <select class="ConditionScreening" id="Gender">
                        <option value="">---</option>
                        <option value="男性">男性</option>
                        <option value="女性">女性</option>
                        <option value="無性別">無性別</option>
                    </select>
                </span>
                <span class='HeroLsitOption'>
                    <p>屬性</p>
                    <select class="ConditionScreening" id="HeroAttributes">
                        <option value="">---</option>
                        <option value="近戰">近戰</option>
                        <option value="爆破">爆破</option>
                        <option value="速度">速度</option>
                        <option value="宇宙">宇宙</option>
                    </select>
                </span>
                <span class='HeroLsitOption'>
                    <p>種族</p>
                    <select class="ConditionScreening" id="Race">
                        <option value="">---</option>
                        <option value="人類">人類</option>
                        <option value="X基因">X基因</option>
                        <option value="外星人">外星人</option>
                        <option value="異人族">異人族</option>
                        <option value="生物">生物</option>
                        <option value="不明">不明</option>
                    </select>
                </span>
                <span class='HeroLsitOption'>
                    <p>陣營</p>
                    <select class="ConditionScreening" id="Camp">
                        <option value="">---</option>
                        <option value="英雄">英雄</option>
                        <option value="反派">反派</option>
                        <option value="中立">中立</option>
                    </select>
                </span>
                <span class='HeroLsitOption'>
                    <p>能力</p>
                    <select class="ConditionScreening" id="Ability">
                        <option value="">---</option>
                        <option value="機械">機械</option>
                        <option value="武器專家">武器專家</option>
                        <option value="領導力">領導力</option>
                        <option value="蜘蛛感應">蜘蛛感應</option>
                        <option value="鳳凰之力">鳳凰之力</option>
                        <option value="伽碼射線">伽碼射線</option>
                        <option value="火焰">火焰</option>
                        <option value="邪惡6人組">邪惡6人組</option>
                        <option value="驚奇4超人">驚奇4超人</option>
                        <option value="精神抵抗">精神抵抗</option>
                        <option value="黑暗復仇者">黑暗復仇者</option>
                        <option value="共生體">共生體</option>
                        <option value="捍衛者">捍衛者</option>
                        <option value="闇黑號令">闇黑號令</option>
                        <option value="永恆族">永恆族</option>
                    </select>
                </span>
                <button class="ConditionScreening">清除所有條件</button>
            </span>
        </span>
        <span class="WhatHeros"></span>
        <span class="HeroListIcon"></span>
    </div>

    <div class="FooterMFF">網 石__版 權 所 有__2021</div>
</body>
<script src="/mffWIKI/js/PublicUtilities.js"></script>
<script type='text/babel' src="/mffWIKI/js/ReactElement.js"></script>
<script type='text/babel' src="/mffWIKI/js/CreatNavMFF.js"></script>
<script type="text/babel" src="/mffWIKI/js/HeroListIcon.js"></script>
<script src="/mffWIKI/js/HeroList.js"></script>


</html>