<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/mffWIKI/img/logo121.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/mffWIKI/css/PublicUtilities.css">
    <link rel="stylesheet" href="/mffWIKI/css/Registered.css">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <title>歡迎註冊</title>
</head>

<body>
    <nav class="NavBarMFF">
        <span class="NavBarMFFSpan"></span>
    </nav>

    <form class="LoginForm" action="">
        <span class="LoginSpan"></span>
    </form>

    <span class="contractDivAndAgree" style="display: none;">
        <h6 class="contractDiv">

            歡迎來到未來之戰資料庫網站！為了保障您的權益，在註冊前請先詳細閱讀本會員規範之所有內容，當您選擇完成註冊即視為您已閱讀本會員規範，並同意遵守以下所有規範內容。若您不同意以下所述全部或部分規範內容，您即無法完成會員註冊，將無法使用未來之戰資料庫部分服務或參與相關活動。
            <br><br><br>
            <span class="contractTitle"> 1.遵守會員規範： </span><br>
            在您於未來之戰資料庫註冊成為會員後，可以使用未來之戰資料庫所提供之各種服務。當您使用未來之戰資料庫服務時，即表示同意接受未來之戰資料庫之會員規範及其他未來之戰資料庫所公告之規範或注意事項之約束。
            <br><br><br>
            <span class="contractTitle">2.註冊資料： </span><br>
            您同意於註冊時提供完整詳實且符合真實之個人資料，您所登錄之資料事後若有變更時，應隨時更新。若有需要由未來之戰資料庫協助處理客戶服務事項時，未來之戰資料庫可能會核對您的個人資料，若與註冊時所登錄之資料不符合者，未來之戰資料庫將無法對您提供相關服務。若您提供之個人資料有填寫不實或原登錄之資料不實而未更新，或是有任何誤導之嫌，未來之戰資料庫保留隨時終止您會員資格及使用未來之戰資料庫之權利。
            <br><br><br>
            <span class="contractTitle">3.隱私權政策： </span><br>
            您所提供的註冊資訊及其他於利用本網站服務時所提供之個人資料，未來之戰資料庫將依【隱私權政策】進行蒐集、利用與保護。
            <br><br><br>
            <span class="contractTitle">4.會員的義務與責任： </span><br>
            會員對本身於未來之戰資料庫或透過未來之戰資料庫傳輸的一切內容自負全責，您亦不得將會員帳號同意他人使用或移轉予他人，並同意遵守下列規定：
            <br>
            會員承諾遵守中華民國相關法規及一切國際網際網路規定與慣例。 <br>
            未來之戰資料庫就會員的行為是否符合會員規範有最終決定權。若未來之戰資料庫決定會員的行為違反本會員規範或任何法令，會員同意未來之戰資料庫得隨時停止帳號使用權或清除帳號，並停止使用未來之戰資料庫。會員在違反法律規定之情事，應自負法律責任。
            <br><br><br>
            <span class="contractTitle">5.服務之停止與更改：</span><br>
            於發生下列情形之一時，未來之戰資料庫有權停止或中斷提供服務：<br>
            <span style="color:chocolate">a.對未來之戰資料庫之設備進行必要之保養及更新時</span><br>
            <span style="color:chocolate">b.發生突發性之設備故障時</span><br>
            <span style="color:chocolate">c.因天災等不可抗力之因素致使未來之戰資料庫無法提供服務時</span>
            <br><br><br>
            <span class="contractTitle">6.保管及通知義務：</span><br>
            您有責任維持密碼及帳號的機密安全。除可依法證明非您本身或授意他人所為者外，您必須完全負起因利用該密碼及帳號所進行之一切行動之責任。<br>
            當密碼或帳號遭到未經授權之使用，或發生其他任何安全問題時，您必須立即通知未來之戰資料庫，以減少相關損害。建議您於公用電腦使用完畢，務必登出您的帳號。因您未遵守本項約定所生之任何損失或損害，我們將無法亦不予負責。
            <br><br><br>
            <span class="contractTitle">7.特別同意事項：</span><br>
            您同意於未來之戰資料庫所發表之一切內容僅代表您個人之立場與行為，並同意承擔所有相關衍生之責任，未來之戰資料庫不負任何責任。<br>
            您亦同意若因其他會員行為造成您權利的損害或其他困擾時，不會對未來之戰資料庫行使或主張任何權利或賠償。
            <br><br><br>
            <span class="contractTitle">8.責任限制：</span><br>
            您認知並了解未來之戰資料庫乃依其現狀及使用時之狀況提供服務，您須自行承擔使用未來之戰資料庫服務時之風險。未來之戰資料庫並未對網站服務可符合您使用上之需求及任何錯誤之修正為任何明示或默示的擔保。
            未來之戰資料庫對您使用未來之戰資料庫服務或與未來之戰資料庫連結之其他網站下載的圖檔、軟體或資料等，不負任何擔保責任。您應於下載前自行斟酌與判斷前述資料之合適性、有效性、正確性、完整性、及是否侵害他人權利，以免遭受損失（例如：造成您電腦系統受損、或儲存資料流失等），未來之戰資料庫對於該等損失不負任何賠償責任。
            <br>
            您同意若依法未來之戰資料庫須負賠償責任時，單一事件之賠償上限為您於該賠償事件發生前六個月，為使用未來之戰資料庫該特定服務所支付予未來之戰資料庫之所有費用。
            <br><br><br>

            <span class="contractTitle">9.擔保責任免除：</span><br>

            未來之戰資料庫保留隨時更改或調整各項服務內容之權利，無需事先通知會員。未來之戰資料庫得依其判斷對於違反會員規範或相關規定之會員帳號終止其使用之權利。無論任何情形，就停止或更改服務或終止會員帳號使用所可能產生之困擾、不便或損害，會員同意不對未來之戰資料庫為任何主張。<br>

            未來之戰資料庫保留將來新增、修改或刪除各項服務之全部或一部之權利，且不另行個別通知，會員不得因此而要求任何補償或賠償。<br>

            廠商或個人可能透過未來之戰資料庫之服務或經由服務連結至其他網站、營業處所提供商品買賣、服務或其他交易行為。會員若因此直接與該等廠商或個人直接進行交易，各該買賣或其他合約均僅存在您與各該廠商或個人兩造之間。未來之戰資料庫除聲明不介入兩造之任何行為外，對於您所獲得的商品、服務或其他交易標的物亦不負任何擔保責任。<br>

            未來之戰資料庫提供之特定服務可能存在專屬之服務條款，在此情形下，雙方權利義務將依據該服務之專屬條款決定之。
            <br><br><br>
            <span class="contractTitle">10.損害賠償：</span><br>
            因會員違反相關法令或違背本會員規範之任一條款，致未來之戰資料庫或其關係企業、受僱人、受託人、代理人及其他相關履行輔助人因而受有損害或支出費用（包括且不限於因進行民事、刑事及行政程序所支出之合理律師費用）時，除法律另有規定者外，會員應負擔損害賠償責任或填補其費用。
            <br><br><br>

            <span class="contractTitle">11.會員規範之修改：</span><br>
            未來之戰資料庫保留隨時修改本會員規範之權利，未來之戰資料庫修改會員規範時，將於首頁及站務討論區內公告修改之內容，建議您經常上網注意該等公告。若會員不同意修改的內容，請勿繼續使用未來之戰資料庫。如果會員繼續使用未來之戰資料庫，將視為會員已同意並接受本會員規範等增訂或修改內容之約束。
            <br><br><br>

            <span class="contractTitle">12.個別條款之效力：</span><br>
            本會員規範所定之任何會員條款之全部或一部無效時，不影響其他條款之效力。
            <br><br><br>
            <span class="contractTitle">13.準據法及管轄法院：</span><br>
            本會員規範之解釋及適用以及會員因使用本服務而與未來之戰資料庫間所生之權利義務關係，應依中華民國法令解釋適用之。因此所生之爭議，除法律另有規定者外，以台灣台北地方法院為第一審管轄法院。
        </h6>
        <div class="agreeDiv">
            <div class='agree'>
                <div class="agreeShiny"></div>
                <h6>我同意以上合約</h6>
            </div>
            <button class="agreeBtn">註冊</button>
        </div>
    </span>

    <form class="RegisteredDatas">
        <div>
            <p>真實姓名：</p>
            <input class="RegisteredInput" placeholder='* 必要填寫欄位' type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <div>
            <p>暱稱：</p>
            <input class="RegisteredInput" placeholder='* 必要填寫欄位' type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <div>
            <p>帳號：</p>
            <input class="RegisteredInput" placeholder='* 必要填寫欄位' type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <div>
            <p>電子信箱：</p>
            <input class="RegisteredInput" placeholder='* 必要填寫欄位' type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <div>
            <p>密碼：</p>
            <input class="RegisteredInput" placeholder='* 必要填寫欄位' type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <div>
            <p>再次確認密碼：</p>
            <input class="RegisteredInput" placeholder='* 必要填寫欄位' type="text">
            <h6 class="WarningSign">*</h6>
        </div>
        <button onclick="registerProcess()">同意加入此網站會員</button>
        <h6 class="AgreeWarningSign">*</h6>
    </form>

    <div class="FooterMFF">網 石__版 權 所 有__2021</div>
</body>
<script src="/mffWIKI/js/PublicUtilities.js"></script>
<script type='text/babel' src="/mffWIKI/js/ReactElement.js"></script>
<script type='text/babel' src="/mffWIKI/js/CreatNavMFF.js"></script>
<script type='text/babel' src="/mffWIKI/js/login.js"></script>
<script src="/mffWIKI/js/Registered.js"></script>

</html>