/* 英雄清單區域格式 */

.Herolist {
    width: 1200px;
    height: 100%;
    background-color: white;
    margin: 0% auto;
    margin-top: 75px;
    margin-bottom: 60px;
    border: 10px solid gray;
    opacity: 0.9;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

@media(max-width:800px) {
    .Herolist {
        width: 93%;
        padding-top: 3px;
    }
}

.Herolist img {
    width: 70px;
}

.Herolist div {
    margin: 3px 10px;
    cursor: pointer;
}

/* 英雄類型選擇 */

.typeSelect{
    display: flex;
}

.typeSelect p{
    margin-left: 8px;
}

.HeroLsitOption{
    margin: 0;
}

.TypeSelectSpan {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media(max-width:800px) {
    .TypeSelectSpan {
        margin-right: 10%;
        margin-bottom: 45px;
    }
}

.TypeSelectSpan select {
    width: 100px;
    height: 30px;
    margin: 0 5px;
    padding-left: 3px;
    font-size: 16px;
    background-color: grey;
    color: white;
    padding-top: 2px;
    border-radius: 5px;
}

@media(max-width:800px) {
    .TypeSelectSpan select {
        width: 50px;
        font-size: 14px;
        padding-left: 0.5px;
    }
}

.TypeSelectSpan option {
    height: 20px;
    padding-left: 3px;
    font-size: 14px;
}

.TypeSelectSpan button {
    background-color: grey;
    width: 150px;
    height: 30px;
    color: white;
    padding-left: 3px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 22px;
}

@media(max-width:800px) {
    .TypeSelectSpan button {
        position: absolute;
        top: 125px;
        left: 27%;
    }
}

/* 英雄圖片 */

.heroIcon {
    border-radius: 4px;
}

/* 英雄名稱 */

.heroName {
    font-size: 12px;
    font-weight: 700;
    width: 67px;
    height: 20px;
    margin-top: -16px;
    padding-left: 3px;
    text-align: left;
    background-color: rgb(110, 110, 110, 0.8);
    color: white;
    border-radius: 2px;
    overflow: scroll;
    line-height: 21px;
    padding-top: 5px;
}

.heroName::-webkit-scrollbar {
    display: none;
}

.HeroListIcon{
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
}

@media(max-width:450px) {
    .HeroListIcon {
        padding: 0 10px;
    }
}
