/* 首頁的輪播圖區域格式 */

.PicDiv {
    width: 800px;
    height: 449px;
    background-color: white;
    margin: 0% auto;
    margin-top: 120px;
    border: 20px solid gray;
    opacity: 0.9;
    border-radius: 1%;
    display: flex;
}

@media(max-width:800px) {
    .PicDiv {
        width: 300px;
        margin-top: 20%;
        height: 168px;
    }
}

@media(max-width:360px) {
    .PicDiv {
        margin-top: 40%;
        border: 3px solid gray;
    }
}

@media(max-width:800px) {
    .PicDiv a img {
        width: 150px;
    }
}


.PicDiv h5 {
    font-size: 22px;
    color: white;
    position: absolute;
    margin-top: -100px;
    margin-left: 2%;
}

/* 選取圖片 */

.PicDivImg {
    cursor: pointer;
}

.PicDivImg:hover {
    width: 406px;
    height: 445px;
    border: 5px solid white;
    border-radius: 1%;
}

@media(max-width:800px) {
    .PicDivImg:hover {
        width: 200px;
        height: 225px;
        border: 5px solid white;
        border-radius: 1%;
    }
}