.SearchTitle {
    width: 700px;
    height: 50px;
    line-height: 50px;
    margin: 0% auto;
    margin-top: 60px;
    margin-bottom: 3px;
    opacity: 0.9;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    color: #3e2b2b1c;
    font-size: 20px;
    background-color: rgb(41 33 33);
    text-shadow: 0.05em 0.05em rgb(243 234 234);
}

@media(max-width:800px) {
    .SearchTitle {
        padding-left: 0%;
        width: 300px;
        text-align: left;
        font-size: 14px;
    }
}

.SearchText {
    width: 1000px;
    height: 100%;
    background-color: white;
    margin: 0% auto;
    margin-bottom: 150px;
    border: 10px solid gray;
    opacity: 0.9;
    border-radius: 2%;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-left: 3%;
    padding-bottom: 25px;
}


@media(max-width:800px) {
    .SearchText {
        width: 300px;
    }
}

.SearchUrl{
    margin-bottom: 10px;
}

.SearchText a p{
    color: rgb(65, 65, 231);
}

.SearchUrl a h6 {
    height: 20px;
    overflow: hidden;
    color: black;
    font-size: 14px;
    width: 70%;
    word-wrap: break-word;
}

.searchPageBtn{
    margin-right: 14px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #c2c2e2;
    color: black;
    font-size: 15px;
    font-weight: 1000;
    border-radius: 40%;
    border: none;
}